<div class="card relative" appHighlight [color]="productcolor" [ngClass]="{'bg-warning': product.quantity==1} " style="border: 2px solid black;" (click)="handleRoute(product.id)">
    <img [src]="product.imgURl" class="card-img-top" alt="Card Image cap"/>
    @if(!product.quantity){
      <div class="overlay"></div>
    }
    <div class="card-body">
      <h5 class="card-title" [innerHTML]="product.name |searchHighlight:searchValue"></h5>
     <!-- <p class="card-text">{{product.description}}</p> -->
      <p class="card-text">{{product.price|currency}}</p>
      @switch(product.quantity){
        @case(1){
        <!-- <p class="text-warning">Only 1 left in stock-order soon</p> -->
        <p class="text-danger">Only 1 left in stock-order soon</p>
      }
      @case(2){
        <p class="text-info">Only 2 left in stock-order soon</p>
      }
      @default{
        <p>{{product.quantity}} items available </p>
      }
    }
    <p> {{ currentdate|date}}</p>
<!-- <p class="card-text">{{product.quantity}}</p>  -->
      <!-- <button href="#" class="btn btn-primary" (click)="handleBuy(product)"[disabled]="product.quantity">Buy</button> -->
      <button class="btn btn-primary" (click)="handleBuy(product)"[disabled]="product.quantity==0" (click)="addProductToCart($event,product)">Add To Cart</button>

      @if(product.quantity==0){
        <p class="text-danger">Out Of Stock</p>
      }
      @else {
        <p class="text-success">in stock </p>
      }
    </div>
  </div>
